@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,100;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Young+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;

}

.center {
    text-align: center;
}

header {
    display: flex;
    background-color: #feff51;
    align-items: baseline;
    z-index: 99;
    position: fixed;
    width: 100%;
    color: #0490d1;
    justify-content: space-between;


}

header a {
    color: #0490d1;
    text-decoration: none;

}

/* Toggle menu (Edit) */
nav {
    position: absolute;
    background-color: #feff51;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
}

/* Move menu button right */
.right {
    left: 0;
    padding: 0 1rem;
}

/* style menu button */
label i {
    font-size: 2rem;

}

/* history navigation (Phone size) */
#hist-nav {
    margin-top: 0rem;
    position: fixed;

}

#hist-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0rem;

}

#hist-nav a {
    padding-left: 0.5rem;
    color: #feff51;

    font-size: 0.75rem;


}

#pres-nav {
    margin-right: 1rem;


}

#pres-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0rem;

}

#pres-nav a {
    padding-left: 0.5rem;
    color: #feff51;
    margin-left: 0.5rem;
    font-size: 0.75rem;


}

#future-nav {
    margin-left: 0rem;
    font-size: 0.5rem;
    margin-top: 1rem;

}

#future-nav ul {
    display: flex;
    align-items: center;
    margin-top: 0rem;
    flex-direction: row;

}

#future-nav li {
    margin-bottom: 0.5rem;
}

#future-nav a {
    padding-left: 0.25rem;
    color: #feff51;
    margin-left: 6px;
    font-size: 0.65rem;



}

.makebig {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}




main {
    background-color: #0490d1;
    flex: 1 0 auto;
    margin-top: 40px;
    color: beige;
}

fieldset {
    margin: 20px 10px;
    border: #feff51 3px solid;
}



fieldset li {
    text-align: center;
}

.fa-lightbulb {
    color: #feff51;
}

li {
    list-style-type: none;

}

fieldset a {
    text-decoration: none;
    color: beige;
}

a:hover {
    text-decoration: underline;
}

#logo {
    margin-left: 1rem;
}

/* History nav and information */
#hist-nav {
    position: absolute;
    margin-left: 0rem;
    max-width: 100vw;
}

.pres-nav {
    position: absolute;
    max-width: 100vw;
}

.hide {
    display: none;
}



#hist-facts {
    margin-top: 3rem;

}

#hist-facts p {
    font-size: 0.75rem;
    text-align: center;
    padding: 0 1rem;
    padding-bottom: 0.5rem;
}

#hist-facts h3 {
    text-align: center;
    padding-bottom: 0.5rem;
}

#monarch h4,
#monarch h5 {
    text-align: center;
    padding-bottom: 0.5rem;
}

#inventions h4,
#inventions h5 {
    text-align: center;
    padding-bottom: 0.5rem;
}

#warfare {
    text-align: center;
    margin-bottom: 1.5rem;
}

#timeline a {
    color: beige;
}

#present {
    align-content: center;
    text-align: center;
    font-size: 0.75rem;
    padding: 1rem 1rem;
}

#present>div {
    margin-bottom: 6rem;

}

#present p {
    margin-bottom: 1rem;
}

#introduction>h3,
h4 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#introduction>h4 {
    margin-left: 2rem;
    margin-right: 2rem;
}



#future {
    align-content: center;
    text-align: center;
    margin-top: 1rem;

}

#future>div {
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#future p {
    margin-bottom: 1.5rem;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

/* CURIOSA: Globe*/
#globe_pic {
    width: 80vw;
    margin-left: 1.75rem;
    margin-right: 2rem;
    margin-top: 4rem;
    border: 2px solid #feff51;
}

#globe-text {
    text-align: center;
    padding: 0 1rem;
    font-size: 0.75rem;
}

.curiosa-head {
    text-align: center;
    margin-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* CURIOSA: North Korea  */
#debtimg1 {
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    border: 2px solid #feff51;
}

#debt-text1 {
    text-align: center;
    font-size: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
}

#debtimg2 {
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border: 2px solid #feff51;
}

#debt-text2 {
    text-align: center;
    font-size: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#debt-head {
    text-align: center;
    margin-top: 2rem;
}

/* CURIOSA: FOREST */
#forest-pic {
    width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border: 2px solid #feff51;
    margin-bottom: 2rem;
}

#forest-text {
    font-size: 0.75rem;
    text-align: center;
    padding: 0 1rem;
}

/* CURIOSA: Passports */
#passport-image {
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border: 2px solid #feff51;

}

#passport-text {
    font-size: 0.75rem;
    text-align: center;
    padding: 0 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#na-video {
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #feff51;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#na-head {
    text-align: center;
}

#more-facts {
    text-align: center;
    padding: 0 2rem;
}

#more-facts p {
    margin-bottom: 2rem;
}

#more-facts h5 {
    margin-bottom: 1rem;
}

#more-facts h3 {
    margin-bottom: 2rem;
}




#go-up {
    color: #feff51;
    position: fixed;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

footer {
    background-color: #feff51;
    min-height: 2rem;
    color: #0490d1;
}

footer div {
    margin-top: 0.5rem;
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

footer ul {
    display: flex;
    flex-direction: row;
    column-count: 2;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer li {
    font-size: 0.75rem;
}

footer a {
    color: #0490d1;
}

#l-more2 a {
    margin-right: 1rem;
}

@media screen and (min-width: 768px) {


    .right {
        margin-left: 1rem;
        left: 0;
    }

    label i {
        font-size: 3rem;

    }

    #logo {

        font-size: 2.5rem;
    }

    #menu {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        border: none;
        padding-bottom: 1rem;
    }

    #hist-nav {
        margin-top: 1rem;
        position: absolute;
        padding-left: 5.5rem;
    }

    #hist-nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #hist-nav a {
        padding-left: 2rem;
        color: #feff51;
        font-size: 1rem;
    }

    #pres-nav {
        margin-top: 1rem;
        position: absolute;
        padding-left: 10rem;
    }

    #pres-nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #pres-nav a {
        padding-left: 2rem;
        color: #feff51;
        font-size: 1rem;
    }

    .makebig {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 3rem;
        margin-top: 3rem;
    }

    fieldset {
        margin: 4rem 6rem;
        padding: 2rem;
    }

    fieldset li {
        text-align: center;
        font-size: 2rem;
    }

    #hist-nav {
        position: absolute;
        margin-right: 7rem;
    }

    #hist-facts {
        margin-top: 3rem;

    }

    #hist-facts>div {
        margin-bottom: 4rem;
        padding: 0 3rem;
    }

    #hist-facts p {
        font-size: 1rem;
        text-align: center;
        padding: 0 2rem;
        padding-bottom: 1rem;
    }

    #hist-facts h3 {
        text-align: center;
        padding-bottom: 1rem;
    }

    #monarch h4,
    #monarch h5 {
        text-align: center;
        padding-bottom: 1rem;
    }

    #inventions h4,
    #inventions h5 {
        text-align: center;
        padding-bottom: 1rem;
    }

    #present {
        font-size: 1rem;
    }

    #present>div {
        margin-bottom: 6rem;
        padding: 0 3rem;
    }

    #future h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #future {
        margin-top: 3rem;
        font-size: 1rem;
    }

    #future>div {
        margin-bottom: 6rem;
        padding: 0 3rem;

    }

    #future-nav a {
        font-size: 1rem;
        padding-right: 1rem;
    }

    #future-nav {
        margin-top: 2rem;
        margin-left: 11rem;
    }

    .hide {
        display: contents;
    }

    /* CURIOSA: GLOBE*/
    .curiosa-head {
        margin-top: 4rem;
    }

    #globe_pic {
        width: 55vw;
        margin-left: 10rem;
        margin-bottom: 5rem;
    }

    #globe-text {
        font-size: 1rem;
    }

    /* CURIOSA: North Korea */
    #debt-text1,
    #debt-text2 {
        font-size: 1rem;
    }

    /* CURIOSA: Forest */
    #forest-text {
        font-size: 1rem;
        padding: 0;
        margin: 0 2rem;
    }

    /* Curiosa: Passports */
    #passport-image {
        width: 50vw;
    }

    #passport-text {
        font-size: 1rem;
        padding: 0 5rem;
    }

    #more-facts {
        font-size: 1.2rem;
    }

    /* "go up button" */
    #go-up {
        color: #feff51;
        position: fixed;
        margin-top: 1rem;
        font-size: 2rem;
        margin-left: 1rem;
    }

    footer div {
        display: flex;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        column-count: 2;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    footer li {
        font-size: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;

    }

}

@media screen and (min-width: 992px) {
    header {
        padding-top: 1rem;
    }

    main {
        margin-top: 5.5rem;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 0.5rem;
        padding-bottom: 1rem;
        margin-right: 5vw;
        font-weight: 600;
    }

    #logo {
        margin-left: 5vw;
    }

    fieldset {
        margin: 8rem 22rem;
        padding: 4rem;
    }

    fieldset li {
        text-align: center;
        font-size: 2rem;
    }

    /* History navigation */
    #hist-nav {
        margin-top: 1rem;
        position: absolute;
        margin-left: 36rem;

    }

    #hist-nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    #hist-nav a {
        padding-left: 2rem;
        color: #feff51;
        text-decoration: none;


    }

    #hist-nav a:hover {
        text-decoration: underline;
    }



    #hist-facts>div {
        padding: 0 6rem;
    }

    .active {
        border-bottom: 2px solid #0490d1;
    }

    #flexed {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #flexed>div {
        width: 60%;
    }

    #flexed>#monarch {
        text-align: end;
        align-self: flex-end;

    }

    #monarch {
        border: solid 2px #feff51;
        border-radius: 16%;

    }

    #space {
        max-width: 20vw;
    }

    #geography {
        border: solid 2px #feff51;
        border-radius: 16%;

    }

    #warfare {

        text-align: center;
    }

    #warfare>p {
        margin-bottom: 2rem;
    }

    #inven-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;
    }

    #inven-list>li {
        border: 2px solid #feff51;
        border-radius: 25%;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 6px;
    }

    #li-1 {
        text-align: start;
        align-self: flex-start;
        max-width: 50%;

    }

    #li-2 {
        text-align: end;
        align-self: flex-end;
        max-width: 50%;
    }

    #li-3 {
        text-align: start;
        align-self: flex-start;
        max-width: 50%;
    }

    #li-4 {
        text-align: end;
        align-self: flex-end;
        max-width: 50%;
    }

    #li-5 {
        text-align: start;
        align-self: flex-start;
        max-width: 50%;
    }

    #warfare {
        margin-left: 20rem;
        margin-right: 20rem;
    }

    .center-head {
        text-align: center;
    }

    #introduction {
        text-align: center;
        margin-top: 3rem;
    }

    #present {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 3rem;
    }

    #present h2 {
        margin-top: 7rem;
    }

    #pres-nav {
        margin-top: 1rem;
        position: absolute;
        display: block;
        margin-left: 34.5rem;
        margin-right: auto;
        margin-bottom: 2rem;

    }

    #pres-nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    #pres-nav a {
        padding-left: 2rem;
        color: #feff51;
        text-decoration: none;



    }

    #pres-nav a:hover {
        text-decoration: underline;
    }

    #future-nav a {
        padding: 0 3rem;
    }

    #future-nav {
        margin-left: 35rem;
    }


    #politics {
        text-align: start;
        align-self: flex-start;
        max-width: 50%;
        padding: 0 6rem;
    }

    #politics>p {
        margin-bottom: 2rem;
    }

    #today {
        align-self: flex-end;
        text-align: end;
        max-width: 50%;
        padding: 0 6rem;

    }

    #today>p {
        margin-bottom: 2rem;
    }

    #trade {
        text-align: start;
        align-self: flex-start;
        max-width: 50%;
        padding: 0 6rem;
    }

    #media {
        align-self: flex-end;
        text-align: end;
        max-width: 50%;
        padding: 0 6rem;
    }

    #market {
        text-align: start;
        align-self: flex-start;
        max-width: 50%;
    }

    .m-right {
        margin-right: 1rem;
        margin-bottom: 3rem;
    }

    .m-left {
        margin-left: 1rem;
        margin-bottom: 3rem;
    }

    #future {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #future>div {
        padding: 0 3rem;
    }

    #future p,
    h3 {
        margin-bottom: 2rem;
    }

    #climate {
        text-align: start;
        align-self: flex-start;
        max-width: 50%;

    }

    #welfare {
        align-self: flex-end;
        text-align: end;
        max-width: 50%;
    }

    #safety {
        align-self: flex-start;
        text-align: start;
        max-width: 50%;
    }

    #global-dev {
        align-self: flex-end;
        text-align: end;
        max-width: 50%;
    }

    #society {
        align-self: flex-start;
        text-align: start;
        max-width: 50%;
    }

    .makebig {
        font-size: 3rem;
        margin-bottom: 7rem;
        text-decoration: dashed;
        text-decoration-line: underline;
        margin-top: 1rem;
    }

    /* CURIOSA: */
    .curiosa-head {
        margin-top: 4rem;
    }

    #globe_pic {
        width: 30vw;
        margin-left: 42rem;
        margin-bottom: 5rem;
    }

    #globe-text {
        font-size: 1rem;
        padding: 0 12rem;
    }

    /* CURIOSA: North Korea */
    #debtimg1 {
        width: 40vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        border: 2px solid #feff51;
    }

    #debt-text1 {
        text-align: center;
        font-size: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-top: 2rem;
    }

    #debtimg2 {
        width: 20vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
        border: 2px solid #feff51;
    }

    #debt-text2 {
        text-align: center;
        font-size: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    #debt-head {
        text-align: center;
        margin-top: 2rem;
    }

    /* Curiosa: Forest */
    #forest-pic {
        width: 50vw;
    }

    #forest-text {
        margin-bottom: 4rem;
    }

    /* Curiosa: Passports */
    #passport-image {
        width: 30vw;
    }

    #na-video {
        width: 40vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 4px solid #feff51;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #na-head {
        text-align: center;
    }

    #more-facts {
        text-align: center;
        padding: 0 20rem;
    }

    #more-facts p {
        margin-bottom: 4rem;
    }

    footer {
        min-height: 4rem;

    }

    footer div {
        margin-top: 1rem;
        display: flex;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-left: 10%;
        color: #0490d1;

    }

    footer ul {
        display: flex;
        flex-direction: row;
        column-count: 2;
        flex-wrap: wrap;
        justify-content: space-between;


    }

    footer li {
        font-size: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;


    }








}